* {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: rgb(69, 69, 69);
  color: #fff;
  font-family: "Courier New", "Lucida Console", Monaco, Consolas, monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5%;
  margin-bottom: 8%;
  margin-right: 2%;
  margin-left: 2%;
  padding: 20px;
  border: 0.75ex dashed hsl(39, 100%, 50%);
}

.main-header h1 {
  padding: 10px;
}

header nav a {
  font-size: 32px;
  margin-right: 10px;
  color: hsl(39, 100%, 50%);
}

body {
  background-color: rgb(69, 69, 69);
}

@media screen and (max-width: 600px) {
  header nav a {
    font-size: 24px;
    margin-right: 5px;
  }
}

h1,
h2,
p,
a {
  color: #fff;
  font-family: "Courier New", "Lucida Console", Monaco, Consolas, monospace;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 24px;
  background-color: #ffffff;
  position: relative;
  bottom: -2px; /* Adjust this value to change how far down the rectangle is */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  animation: 2.5s blink infinite;
}
